<html>
<head>
  <title>Congratulations!</title>
</head>
<body>
  Dear ${userName},<br/>
  We are pleased to inform that your booking to ${destinationName} is confirmed as follows:<br/>
  Date of Visit : ${date} (1 day only)<br/>
  Membership ID(s) : ${passIdList}<br/>
  <br/>
  For any change in visit date, you are required to cancel your booking (at least 1 day before)
  and to submit a new booking in the system.<br/>
  Attached is the Corporate Membership letter to ${destinationName}. Please check that the
  details are accurate.<br/><br/>

  Please take note of the following on the day of your visit to ${destinationName}:<br/><br/>
  ● Present this email, the attached corporate membership letter and your staff pass at
  the entrance of ${destinationName}.<br/>
  ● Entry is strictly based on your details in this email and corporate membership letter.<br/>
  ● Your presence is required on the day of visit. Entry will be denied without staff’s<br/>
  presence.<br/>
  ● Your booking is non-transferable. Entry is strictly based on the details in this email
  and Corporate Membership letter.<br/>
  ● Visit date is strictly based on the date stated in this email and Corporate Membership
  letter.<br/>
  ● Staff found abusing the Corporate Membership letter will be subject to disciplinary
  actions.<br/>
  Enjoy your visit to ${destinationName}!<br/>
  <br/>
  Warm regards<br/>
  HR Department
</body>
</html>