Dear ${userName},<br/>

We hope you've enjoyed your day trip to ${destinationName}.<br/>
Here are some reminders for the return of your physical pass tomorrow:<br/><br/>

<#if nextUserName!="">Another user, ${nextUserName} will be contacting you to collect pass(es): [${nextUserPassIdList}]</#if><br/>
<#if nextUserName2!="">Another user, ${nextUserName2} will be contacting you to collect pass(es): [${nextNextUserPassIdList}]</#if><br/>
<#if gopPassIdList!="">Please return these pass(es) to the general office: [${gopPassIdList}]</#if><br/>

Thank you and have a nice day!<br/>
<br/>
Regards,<br/>
HR Department