<html>
<head>
  <title>Congratulations!</title>
</head>
<body>
  Dear ${userName},<br/>
  We are pleased to inform that your booking to ${destinationName} is confirmed as follows:<br/>
  Date of Visit : ${date} (1 day only)<br/>
  Membership ID(s) : ${passIdList}<br/>
  <br/>
  For any change in visit date, you are required to cancel your booking (at least 1 day before)
  and to submit a new booking in the system.<br/>
  Attached is the authorisation letter to ${destinationName}. Please check that the
  details are accurate.<br/><br/>

  Please take note of the following on the day of your visit to ${destinationName}:<br/><br/>
  ● Present this email confirmation to the General Office to collect the membership
  card(s).<br/>
  ● Collect the membership card(s) from the General Office one day before your visit date<br/>
  and return the membership card(s) by 9am the next working day after your visit.<br/>
  ● Present the membership card(s), the authorisation letter and your staff pass at the
  entrance of ${destinationName}.<br/>
  ● Entry is strictly based on the membership card(s) and the authorisation letter.<br/>
  ● Your presence is required on the day of visit. Entry will be denied without staff’s
  presence.<br/>
  ● Your booking is non-transferable.<br/>
  ● Visit date is strictly based on the date stated in this email and the authorisation letter.<br/>
  ● Staff found abusing the membership(s) will be subject to disciplinary actions.<br/>
  Enjoy your visit to ${destinationName}!<br/>
  <br/>
  Warm regards<br/>
  HR Department
</body>
</html>
